/* external css: flickity.css */

.carousel-cell {
    width: 24%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 32px;
    background: yellow;
    border-radius: 5px;
}

.carousel-cell:hover .CarouselImg {
    width: 100%;
    /* height: 350px; */
    background: blue;
    animation-name: CarouselAnimacao;

}

@keyframes CarouselAnimacao
{
    from { height: 300}
}

.CarouselImg {
    width: 150px;
    height: auto;
}

.CarouselImg:hover {
    width: 250px;
    height: auto;
}

.HgroupCarousel {
    margin-bottom: -10px;
}

.CarouselTitle {
    margin-top: 10px;
    margin-bottom: -25px;
    padding: 0;
    font-family: var(--font);
    font-size: 20px;
}

.CarouselText {
    font-family: var(--font);
}


