header {
    /* background-color: #26333D; */
    background-color: #2a3f4e;
    width: 100%;
    height: 50px;
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(20, 5%);
}

.LogoDiv {
    display: flex;
}

.Title {
    margin-left: 10px;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
}
.HeaderText {
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-top: 2px;
    transition: 3s;
}

.HeaderTextGrid1
{
    display: grid;
    grid-column-start: 12;
    grid-column-end: 14;
}
.HeaderTextGrid2 {
    display: grid;
    grid-column-start: 14;
    grid-column-end: 16;
}

.HeaderTextGrid3 {
    display: grid;
    grid-column-start: 16;
}
.HeaderText::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: white;
  transition: 300ms;
}

.HeaderText:hover:after {
    width: 100%;
    
}

.HeaderImg {
    height: 30px;
    width: 35px;
}

.HeaderTitle {
    display: flex;
}

/* .HeaderTextDiv {
    width: 37.8%;
    left: 50%;
    display: flex;
    position: relative;
    justify-content: space-around;
    grid-column-start: 5;
    grid-column-end: 15;
} */

.HeaderSearchButton {
    width: 300%;
    height: 50%;
    grid-column-start: 18;
    /* grid-column-end: 20; */
}

.HeaderInput {
    border-radius: 10px;
    border: 2px solid;
}

