header {
    background-color: #26333D;
    width: 100%;
    height: 40px;
    display: flex;
    text-align: center;
    align-items: center;
}

.Title {
    margin-left: 10px;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
}
.HeaderText {
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-top: 2px;
    transition: 3s;
}

.HeaderText::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: white;
  transition: 300ms;
}

.HeaderText:hover:after {
    width: 100%;
    
}

.HeaderImg {
    height: 30px;
    width: 35px;
}

.HeaderTitle {
    display: flex;
}

.HeaderTextDiv {
    width: 37.8%;
    left: 50%;
    display: flex;
    position: relative;
    justify-content: space-around;
}

.HeaderInput {
    border-radius: 10px;
    border: 2px solid;
}

