@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f6f9fc;
}

/* -------- HEADER -------- */

.top-nav{
    background:#182830;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 60px;
    color:#fff;
}

.top-nav .logo{
    font-size:26px;
    font-weight:600;
}

.top-nav nav a{
    color:#c9d6dd;
    padding:0 15px;
    text-decoration:none;
    font-weight:500;
}

.top-nav nav a.active{
    color:#00eaff;
}

.top-nav .user{
    display:flex;
    align-items:center;
    gap:10px;
}

.top-nav .user img{
    width:34px;
}

.container-details{
    padding:50px 120px;
    display:flex;
    gap:60px;
    margin-bottom:300px;
    
}


.book-cover{
    min-width:290px;
    position:relative;
}

.book-cover img{
    width:290px;
    border-radius:8px;
}

.tag{
    background:#31c6db;
    padding:8px 12px;
    position:absolute;
    top:20px;
    right:-20px;
    color:white;
    border-radius:5px;
    font-size:14px;
}

.book-info h1{
    font-size:38px;
    font-weight:700;
    line-height:45px;
}

.book-info h4{
    margin:10px 0 20px;
    font-size:18px;
    font-weight:500;
}

.book-info p{
    margin:5px 0;
}

.book-info hr{
    border:none;
    border-top:1px solid #aaa;
    margin:20px 0;
}

.book-info h3{
    margin-bottom:10px;
}

/* .BackgroundLivro {
    background-color: snow;
    display: flex;
    width: 100%;
    border-radius:15px;
} */