@import url("./login.css");
@import url("./main.css");
@import url("./header.css");
@import url("./carousel.css");
@import url("./footer.css");


html, body, header {
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

a, h1, h2 {
    font-family: var(--font);
    margin: 0;
}

.ImgDivChange {

    background-image: url("/img/Pessoa1.png");
    width: 30vw;
    height: 56vh;
    background-size:contain;
    background-repeat: no-repeat;
}

.Logo{
    font-size: 24px;
    font-weight: bold;
    /* grid-column: 2/4;
    grid-row: 2/3; */
    display: flex;
    align-items: center;
    color: white;
}

.HeaderImg{
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.MainGroupFirst {
    font-family: var(--font);
}

.MainButton {
    display: grid;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
    width: 150px;
    height: 20px;
    grid-row-start: 4;
    grid-column-start: 2;
    font-family: var(--font);
}

.ThirdMainButton {
    display: grid;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
    width: 150px;
    height: 20px;
    font-family: var(--font);
}


.MainButton:active, .ThirdMainButton:active {
    background-color: #3e4b55;

}
.MainSecondSection {
    height: 350px;
    width: 100%;
}

.CardsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.Card {
    background: #EEF3F3;
    width: 320px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 0.3s;
}

.Card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.CardIcon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #15bfb2;
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

/* Ícones */
.CardIcon.Lista {
    background-image: url("../img/CheckList.png");
}

.CardIcon.Coracao {
    background-image: url("../img/coracao.png");
}

.CardIcon.Livro {
    background-image: url("../img/livro.png");
}

.CardText {
    font-size: 20px;
    font-weight: 600;
    color: #0C233A;
    font-family: var(--font);
}


:root {
    --CorFooter: #26333D;
    --HgroupTitle: #2FD6CB;
}

