@import url("./login.css");
@import url("./main.css");
@import url("./header.css");
@import url("./carousel.css");
@import url("./footer.css");

html, body, header {
    margin: 0;
    padding: 0;
}

a, h1, h2 {
    font-family:'Courier New', Courier, monospace;
    margin: 0;
}


.MainButton {
    display: grid;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
    width: 150px;
    height: 20px;
    grid-row-start: 4;
    grid-column-start: 2;
}

.ThirdMainButton {
    display: grid;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
    width: 150px;
    height: 20px;
}


.MainButton:active, .ThirdMainButton:active {
    background-color: #3e4b55;
    
}

:root {
    --CorFooter: #26333D;
    --HgroupTitle: #2FD6CB;
}